<head>
    <style>
        .back{
            font-size: 40px;
        }
        img.pre{
            padding: 10px;
            max-width: 100%;
        }
        img.folder{
            padding: 10px;
            width: 100px;
            float: left;
        }
        .folder{
            position: relative;
            padding: 10px;
            height: 110px;
            clear:both;
        }
        .folder span{
            position:relative;
            float: left;
            top:10px;
        }
    </style>
</head>
<body>
<h3>Path: <%=data.pathQ%> </h3>

<div style="height: 60px;"><a class="back" href="/?path=<%=data.pathBack%>">回到上一级</a></div>
<% for(var i in data.folders){ %>
    <div>
        <a class="folder" href="/?path=<%=data.folders[i]%>">
            <img class="folder" src='/folder.jpg'>
            <span><%=data.folders[i].substring(data.folders[i].lastIndexOf('/')+1,data.folders[i].length)%></span>
        </a>
    </div>
<%}%>
<% for(var i in data.files){ %>
    <div>
        <img class="pre" src="<%=data.files[i]%>"></img>
    </div>
<%}%>
</body>